.avatar{
    width: 50px;
}
.select_page{
    font-weight: bold;
}
.page_number{
    display: block;
    min-width: 30px;
    background-color: white;
    text-align: center;
    margin: 0 1px;
    border-radius: 2px;
    border: 1px solid black;
}
.paginator{
    display: flex;
    margin-bottom: 5px;
}
.active_btn{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
    cursor: pointer;
}
.disabled_btn{
    font-size: 12px; 
    text-align: center;
    font-weight: 400;
    border: 1px solid rgb(226, 226, 226);
    color: rgb(226, 226, 226);
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
}

.user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    width: auto;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
}
.user_header{
    display: flex;
}
.user_info{
    margin-left: 5px;
    text-decoration: none;
}
.user_info_link{
    text-decoration: none;
    color: black;
}
.follow_btn{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    width: 70px;
    cursor: pointer;
}
