.post_container{
    padding: 10px;
}
.add_post_btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    height: 20px;
}
.textarea{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.new_post_title{
    margin-bottom: 10px;
}
.posts_wrapper{
    display: flex;
    flex-direction: column-reverse;
}