.header{
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background-color:rgb(75, 75, 75);
    border-radius: 10px;
}
.header img{
    width: 60px;
    border-radius: 10px;
}