.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    width: auto;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
}
.author_photo{
    border-radius: 50%;
    width: 50px;
}

.post_header{
    display: flex;
    margin-bottom: 10px;
}